---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'dark' }}",
  "minima/initialize";

*{
  font-family: 'Times New Roman', Times, serif;
  color: cadetblue;
}

h1{
  color: teal;
}

